.title-deco {
    font-size: 50px;
    font-family: 'Monoton';
    color: #E65100;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color:#212121;
}

.current-show-deco {
    font-family: 'Sarabun', sans-serif;
    color:#212121;
}


a:link {
  color: #FB8C00;
  text-decoration: none;
}

a:visited {
  color: #BDBDBD;
  text-decoration: none;
}

a:hover {
  color: #212121;
  text-decoration: underline;
}

