.title-deco {
    font-size: large;
    text-decoration: underline rgb(211, 69, 13);
    text-decoration-style: double;
}

.current-show-deco {
    font-family: 'Sarabun', sans-serif;
    color:rgb(10, 49, 134); 
}


a:link {
  color: rgb(10, 49, 134);
  text-decoration: none;
}

a:visited {
  color: rgb(163, 148, 148);
  text-decoration: none;
}

a:hover {
  color: rgb(15, 161, 15);
  text-decoration: underline;
}

